/*
1. Imports 
2. General rules
3. Mobile rules
4. Large Screen Rules
*/


header, nav {
background: dodgerblue;
}

h1 {
    font-size: 5.5vw;
}

h2 {
    font-size: 4.5vw;
}

p {
    font-size: 3vw;
}

a:hover {
    text-decoration: none;
}

#name-paragraph {
    font-style: italic;
}

#logo-image {
    width: 7%;
    height: auto;
    float: left;
    border-radius: 25%;
}

#page-header {
    font-family: 'Sansita', sans-serif;
}

#temp-section {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

.centerText {
    text-align: center;
}

.temper {
    font-size: 4em;
    margin: 0 auto;
}

.hotest {
    color: red;
}

.coldest {
    color: blue;
}


.responsive{
    width: 100%;
    height: auto;
}

#wind-section {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#wind-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#curent-picture-section {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#hourly-section {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

.scrollBar {
  overflow: auto;
  white-space: nowrap;
}


#horizontal-list a {
    display: block;
    display: inline-block;
    width: 30px;
    height: 30px;
    float: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
    font-size: 2vw;
}

ul#horizontal-list li {
    display: inline;
}




