/***********************
* 1. Imports 
* 2. General rules
* 3. Mobile rules
* 4. Medium screen rules
* 5. Large Screen Rules
***********************/
/* 1. Imports */

@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');



/* 2. General */

/* general rules for elements */
body {
    font-family: helvetica, sans-serif;
    position: relative;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita', sans-serif;
}
header, nav, footer {
    background: dodgerblue;
}
.hide{
    display:none;
}
#page-header {
    position: relative;
    font: bold;
}
h1 {
    font-size: 5.5vw;
}
h2 {
    font-size: 4.5vw;
}
p {
    font-size: 3.5vw;
}
a {
    text-decoration: none;
}
dl {
    margin-top: -15px;
    margin-bottom: 0.3em;
}
dt {
    font-weight: bold;
}
dt, dd {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 2.5vw;
}
dt::before{
    content: "| ";
}
dt:first-child::before {
    content: "";
  }
#scroll-bar dt {
    font-weight: inherit;
}

/* logo and name */
#logo-image {
    width: 7%;
    height: auto;
    float: left;
    border-radius: 25%;
}
#name {
    font-size: 6vw;
    width: 100%;
    height: auto;
    font-style: italic;
    margin: 0 0 0 0;
}

/* section class reles */
.sections {
    text-align: center;
    background: transparent;
    width: 100%;
    height: auto;
}
.sections {
    background: transparent;
    background-color: rgba(200,200,200,.6);
    background-position: center;
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}
#name-section { 
    margin-top: -1em;
    background: white;
}
#content-heading {
    display: flex;
}
#location {
    margin-top: -1em;
    margin-bottom: .2em;
    font-size: 3vw;
}
#background {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#background {
    max-width: 1485px;
}
.bg-rain {
    background-image: url(../images/weather-site-images/weather-images-large/rain-1280.jpg);
}
.bg-snow {
    background-image: url(../images/weather-site-images/weather-images-large/snow-1280.jpg);
}
.bg-fog {
    background-image: url(../images/weather-site-images/weather-images-large/fog-1280.jpg);
}
.bg-cloud {
    background-image: url(../images/weather-site-images/weather-images-large/clouds-1280.jpg);
}
.bg-clear {
    background-image: url(../images/weather-site-images/weather-images-large/clear-1280.jpg);
}
.centerText {
    text-align: center;
}
.temper {
    font-size: 4em;
    margin: 0 auto;
}
.hotest {
    color: red;
}
.coldest {
    color: blue;
}
.responsive{
    width: 100%;
    height: auto;
}
#wind-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* transform: rotate(225deg); */
}
#hourly-section {
    background-image: none;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}
#scroll-bar {
    overflow: auto;
    white-space: nowrap;
}
#scroll-bar li {
    display: inline;
}
#horizontal-list {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
#horizontal-list a {
    display: block;
    display: inline-block;
    float: none;
    text-align: center;
    color: white;
    font-size: 3.5vw;

}
ul#horizontal-list li {
    display: inline;

}
#rain-img {
    width: 60%;
    margin: 5% 10%;
}
#wind-speed {
    z-index: 1;
    margin-top: -100px;
    margin-bottom: 100px;

}
#nav-section {
    margin-top: 0px;
    margin-bottom: -1.5em;
}
#copy {
    margin-top: -2px;
}
.n {
    transform: rotate(360deg);
}
.ne {
    transform: rotate(45deg);
}
.e {
    transform: rotate(90deg);
}
.se {
    transform: rotate(135deg);
}
.s {
    transform: rotate(180deg);
}
.sw {
    transform: rotate(225deg);
}
.w {
    transform: rotate(270deg);
}
.nw {
    transform: rotate(315deg);
}
#current-picture-section {
    width: 400px;
    height: 500px;
}
#background {
    padding: 1%;
}





/* 3. Mobil rules */

@media only screen and (max-width: 768px) {
    #nav-section{
        position: fixed;
        bottom: 4px;
        width: 100%;
        height: 8%;
        z-index: 1;  
    }
    .location {
        font-size: 15px;
    }
    footer {
        margin-bottom: 40px;
    }
    #horizontal-list {
        margin-top: 6px;
    }
    .rain {
        width: 90%;
        height: 80vw;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/rain-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    .snow {
        width: 90%;
        height: 80vw;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/snow-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    .cloud {
        width: 90%;
        height: 80vw;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/clouds-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    .fog {
        width: 90%;
        height: 80vw;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/fog-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    .clear {
        width: 90%;
        height: 80vw;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/clear-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    #wind-speed {
        z-index: 1;
        margin-top: -95px;
        margin-bottom: 100px;
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    .section-name {
        font-size: 30px;
    }
    #hour {
        font-size: 30px;
        margin: 0;
    }
}



/* 4. Large screen rules */

@media only screen and (min-width: 798px){
    #background {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    #background section{
        width: 33.33%;
    }
    #wind-picture {
        width: 50%;
        height: auto;
    }
    p.temper {
        font-size: 120px;
        margin-top: 5%;
    }
    p.hotest, span.coldest {
        font-size: 40px;
        margin-top: 25%;
        margin-bottom: -750px;
    }
    p#feelslike {
        font-size: 40px;
        margin-top: 750px;
    }
    .sections {
        background: transparent;
        background-color: rgba(200,200,200,.6);
        background-position: center;
        margin: 2em .1em;
        border: 1.5px solid;
        border-radius: 25px;
    }
    #wind-speed {
        font-size: 40px;
        margin-top: -145px;
        margin-bottom: 145px;
    }
    #direction {
        font-size: 40px;
        margin-top: -5%;
    }
    #gusts {
        font-size: 40px;
        margin-top: -7%;
    }
    #hour {
        margin: -0.1% auto;
        font-size: 60px;
    }
    .section-name {
        margin: 3% auto;
    }
    #rain-img {
        width: 90%;
        margin: 5% auto;
    }
    .section {
        width: 100%;
    }
    #scroll-bar li {
        font-size: 30px;
    }
    #copy {
        font-size: 30px;
    }
    #horizontal-list li a {
        font-size: 30px;
        padding: 1em;
    }
    #fran {
        font-size: 70px;
        margin: 0.3em auto;
    }
    #scroll-bar dt {
        font-weight: inherit;
        font-size: 30px;
    }
    #scroll-bar dd {
        font-weight: inherit;
        font-size: 30px;
    }
    #scroll-bar {
        margin: 0;
    }
    .rain {
        width: 90%;
        height: 75%;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/rain-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    .snow {
        width: 90%;
        height: 75%;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/snow-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    .cloud {
        width: 90%;
        height: 75%;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/clouds-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    .fog {
        width: 90%;
        height: 75%;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/fog-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
    .clear {
        width: 90%;
        height: 75%;
        background-image: url(/VladimirZhd.github.io/weather/images/weather-site-images/weather-images-small/clear-400.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto; 
    }
}