/**************************
* 1. Import
* 2. General rules
* 3. Mobile rules
* 4. Large Screen rules 
***************************/


/* 1. Import */



/* 2. General rules */
.container {
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    align-content: center;
    padding: 3em;
}
.section {
    border: 1.5px solid;
    border-radius: 15px;
    margin: 10px;
    padding: 1.5em;
    max-width: 600px;
}
ul li {
    list-style: square;
}
img {
    width: 100%;
}
#a-name::after {
    content: "clear-400.jpg";
}
#a-size::after {
    content: "23.0 KB";
}
#b-name::after {
    content: "clouds-400.jpg";
}
#b-size::after {
    content: "17.1 KB";
}
#c-name::after {
    content: "fog-400.jpg";
}
#c-size::after {
    content: "4.48 KB";
}
#d-name::after {
    content: "rain-400.jpg";
}
#d-size::after {
    content: "12.2 KB";
}
#e-name::after {
    content: "snow-400.jpg";
}
#e-size::after {
    content: "31.5 KB";
}
.dimensions::after {
    content: "400 x 400 px";
}

/* 3. Mobile rules */







/* 4. Large screen rules */
@media only screen and (min-width: 769px) {
    .container {
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 auto;
        padding: 3em;
    }
    #a-name::after {
        content: "clear-1280.jpg";
    }
    #a-size::after {
        content: "97.7 KB";
    }
    #b-name::after {
        content: "clouds-1280.jpg";
    }
    #b-size::after {
        content: "39.9 KB";
    }
    #c-name::after {
        content: "fog-1280.jpg";
    }
    #c-size::after {
        content: "38.7 KB";
    }
    #d-name::after {
        content: "rain-1280.jpg";
    }
    #d-size::after {
        content: "43.1 KB";
    }
    #e-name::after {
        content: "snow-1280.jpg";
    }
    #e-size::after {
        content: "126 KB";
    }
    .dimensions::after {
        content: "1280 x 800 px";
    }
}


