* {
    box-sizing: border-box;
}

.header {
    margin: 0;
    padding: 1em;
}

.randomizer-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giveaway {
    &-container {
        position: fixed;
        top: 25em;
    }

    &-input {
        margin: 0;
        width: 25em;
        height: 3em;
        border: solid 1px black;
        border-radius: 10px;
        box-shadow: 1px 3px 10px;
        outline: none;

    }

    &-button {
        margin: 0;
        background-color: white;
        border: solid 1px black;
        border-radius: 10px;
        box-shadow: 1px 3px 10px;
        height: 3em;
        outline: none;

        &:active {
            background-color: #66ffff;
        }
    }
}