$smallScreen: 2em;
$mediumScreen: 24em;

@import "partials/scrollbar";
@import "partials/toggle-switch";

* {
    box-sizing: border-box;
}

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.esri-locate {
    border-radius: 50%;
    outline: none;
    margin-top: .4em;
}

.esri-widget {
    &--button {
        outline: none;
    }
}

.esri-zoom {
    border-radius: 5px;

    .esri-widget {
        border-radius: 5px;

        &--button {
            box-shadow: none;

            &:first-child {
                margin-bottom: 0;
            }

            &:last-child {
                border-top: solid 1px rgba(110, 110, 110, 0.3);
                border-radius: 0 0 5px 5px;
            }
        }
    }
}

.hide {
    display: block;
    position: absolute;
    width: 320px;
    left: -340px;
    height: 100%;
    z-index: 1;
    background-color: white;
    overflow: scroll;
}

.esri-ui-top-right {
    width: 100%;
    border-radius: 1em;
}

@media only screen and (min-width: 768px) {
    .esri-ui-top-right {
        max-width: 30%;
    }
}

.esri-search {
    width: 100%;
    border-radius: 1em;
    &__container {
        width: 100%;
        border-radius: 1em;
    }

    &__input-container {
        width: 100%;
        border-radius: 1em;
    }

    &__form {
        width: 100%;
        border-radius: 1em;
    }

    &__input {
        width: 100%;
        text-align: center;
        border-radius: 1em;
        outline: none;
    }

    &__submit-button {
        border-radius: 0 1em 1em 0;
        outline: none;
    }
}

@media only screen and (min-width: 768px) {
    .esri-search {
        width: 170%;
    }
}

.button {
    position: absolute;
    z-index: 1;

    &-menu {
        
        background: transparent;
        outline: none;
        border: none;
        top: 19px;
        left: 15px;
    }

    &-close {
        background: transparent;
        border: none;
        left: 290px;
        top: 15px;
        outline: none;
        padding: 0;
        margin: 0;
        color: white;
        font-size: 20px;
    }

    &-floor {
        background-color: #fff;
        margin-bottom: 2px;
        border-radius: 5px;
        border: solid 1px rgba(110, 110, 110, 0.3);
        width: 32px;
        height: 32px;
        color: #6e6e6e;
        outline: none;

        &:hover {
            background-color: #f0f0f0;
            color: #2e2e2e;
        }
        &:active {
            background-color: #e2f1fb
        }
    }
}

.menu {
    &-icon {
        width: 70%;
    }

    &-list {
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: .5em 1em;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: grey;
                }
            }
        }
    }

    &-h3 {
        margin-left: 3em;
    }

    &-byui-logo {
        background-color: black;
        width: 100%;
        height: 50px;
        margin: 0;
    }
    &-map-title{
        color: white;
        margin: 0;
        padding: 0;
        margin-left: 2em;
        line-height: 50px;
    }
}

.close-icon {
    width: 10%;
}

.esri-ui-bottom-right {
    display: flex;
    flex-direction: column;
}

hr {
    width: 95%;
}

.floor-layers {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background: none;
    outline: none;
    right: 0;
    bottom: 110px;
}
@media only screen and (min-width: 1024px) {
    .floor-layers {
        bottom: 70px;
    }
}

#floorLayers.floor-layers.esri-component {
    box-shadow: none;
}
