/* 1. Imports
   2. General rules
   3. Mobile rules
   4. Large screen rules */



   /* 1. Imports */
   @import url(./normalize.css);
   @import url('https://fonts.googleapis.com/css?family=Acme&display=swap');


   /* 2. General Rules */

   html {
       box-sizing: border-box;
   } 
   html * {
       box-sizing: border-box;
   }
   #section-a.hide {
       display: none;
   }
   #section-b.hide {
       display: none;
   }
   body {
    /* font-family: 'Barriecito', cursive; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Acme', sans-serif;
    background-image: url(../images/site/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
   a {
    text-decoration: none;
   }
   #body-main {
       width: 85%;
       height: auto;
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: #ffffff;
   }
   #page-header {
        align-self: flex-start;
   }
   #page-title {
       margin: auto 0;
       font-size: 35px;
   }
   #logo {
       width: 100%;
       height: auto;
   }
   nav {
       background-color: #de2226;
       margin-top: 0;
       height: 40px;
       width: 100%;
   }
   #page-main {
       background-color: #ffffff;
       width: 98%;
       height: auto;
   }
   footer {
       display: flex;
       justify-content: center;
       border-top: 3px solid #000000;
       text-align: center;
       font-size: 15px;
       width: 100%;
   }
   li {
       list-style: none;
   }
   #navbar-list li {
       margin-top: -5px;
   }
   #navbar-list a {
      color: white;
      font-size: 15px;
   }
   #navbar-list {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       padding: 0;
   }
   #section-a {
       display: flex;
       flex-direction: column;
   }
   #rocket {
       width: 100%;
       height: auto;
   }
   #hero-description {
       display: flex;
       flex-direction: column;
       position: absolute;
       width: 50%;
       right: 0;
       top: 30%;
       font-size: 13px;
       padding: 0;
       margin-top: -5px;
   }
   #actionbtn {
       width: 75%;
   }
   #recipe-list {
       display: grid;
       grid-column: 1/2;
       grid-row: 3/4;
       grid-gap: 5px 5px;
       grid-template-columns: auto auto;
       max-height: 35rem;
       padding: 0;
   }
   #hero-review li{
    list-style: disc;
   }
   #item-pic {
       width: 100%;
       height: auto;
   }
   #item-img {
       display: flex;
       justify-content: center;
       width: 150px;
       height: 120px;
   }
   p#desc {
       font-weight: normal;
   }
   .man-rev {
       font-weight: bold;
   }
   #price {
       font-size: 30px;
       color: #de2226;
   }
   figure {
       display: flex;
       flex-direction: column;
       flex-shrink: 50%;
       margin: 0;
   }
   #recipe-list img.rec-image {
       border-style: solid;
       border-left-width: 30px;
       border-right-width: 30px;
       border-color: #808080;
   }
   

   
/* 3. Mobile Rules */

@media only screen and (max-width: 698px) {
    body {
        height: 100vh;
    }
}


/* 4. Large Screen Rules */

@media only screen and (min-width: 699px) {

    #navbar-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin-top: 7px;
    }
    #navbar-list a {
        font-size: 30px;
    }
    #hero-description {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 40%;
        right: 0;
        top: 30%;
        font-size: 35px;
        padding: 0;
    }
    #actionbtn {
        width: 50%;
    }
    #page-title {
        margin: auto 0;
        font-size: 45px;
    }
    #section-b {
        display: flex;
        align-content: space-between;
    }
    #item-pic {
        width: 100%;
        height: auto;
    }
    #item-img {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 50%;
        padding: 5px 5px 5px 5px;
    }
    #item-description {
        width: 50%;
        height: auto;
        padding: 5px 5px 5px 5px;
    }
    #item-description p {
        font-size: 40px;
    }
    #item-description > p#price  {
        font-size: 70px;
    }
    #desc {
        margin-top: -1%;
    }
    #made {
        margin-top: 5%;
        margin-bottom: -5%;
    }
    #rev-rec {
        display:flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    div#rev-rec div#recipes-div {
        font-size: 1.5vw;
        text-align: center;
        width: 25%;
    }
    div#rev-rec div#review-div {
        font-size: 2vw;
        margin-top: -1%;
    }
    div#rev-rec div#review-div h2 {
        text-align: center;
    }
    
    
    
}
